* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
  background: #1b1b1b;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

.App {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
}

#snackbar {
  padding: 1rem;
  background-color: #2196f3;
  height: max-content;
  position: absolute;
  bottom: 20vh;
  left: 50vw;
  transform: translateX(-50%);
  /* opacity: 75%; */
  border-radius: 0.5rem;
  z-index: 1000;
}

.sidebar {
  width: 15vw;
}
input[type="radio"]:checked + label {
  font-weight: bold;
}

.main-content {
  margin: 1.5rem 1rem;
  margin-left: 0rem;
  width: 85vw;
  height: 96vh;
  background: rgba(0, 0, 0, 0.78);
  backdrop-filter: blur(11px);
  border-radius: 1.5rem;
  overflow-y: scroll;
  flex: 1;
}

.graph-60 {
  width: 30vw;
}

@media only screen and (max-width:504px){
  .main-content{
    margin: 0;
    height: 100vh;
    border-radius: 10px 0 0 10px;
  }
}
