* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
  background: #1b1b1b;
  width: 100vw;
  height: 100vh;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}
